.bg-sobre{
	background-color: #e0d4ca;
}
.bg-servicos{
	background-color: #dcc3b1;
}
.bg-links{
	background-color: #a99287;
}
.bg-footer{
	background-color: #77695f;
}
.header{
	font-weight: 300;
}
.nibo{
	max-width:	42px;
	position: absolute;
	left: 15px;
}
.sobre-size{
	margin-top: 100px;
	margin-bottom: 100px;
}
.texto-vermelho{
color: #742f37;
}
